/* Common styles */
:root {
   --item_size: 210px;
   --col_gutter: 10px;
   --vp_gutter: 10px;
   --max_cols: 5;
   --colorDistinct: #F47E00;
 }
 
* {
   box-sizing: border-box;
 }
 
 html {
   font-size: 18px;
   font-family: Georgia, serif;
 }
 
 body {
   background-color: #fbfbfb;

 }
 
 h1, h2, h3 {
   margin-top: 0;
 }
 
 header h1 {
   margin: 0;
 }
 
 main p {
   margin-bottom: 0;
 }

   /* .container {
      display: grid;
      margin: 0 2rem;
      grid-template-columns: 2fr 6fr 4fr;
      grid-template-rows: 3rem auto;
      grid-gap: 1rem;
      grid-template-areas: "logo menu menu"
                           "content content sidebar"
                           "sponsors sponsors sponsors"
                           "footer footer footer";
   } */

   .grid {
      grid-gap: var(--col_gutter);
      padding: 0 var(--vp_gutter);
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  
      display: grid;
      justify-content: center;
      margin: 40px auto;
      grid-auto-rows: var(--item_size);
   }
   .grid .header {
      grid-row: span 2;
      grid-column: span 2;
   }
.grid> li {
   list-style-type: none;
}
.grid .card a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.grid .card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media screen and (max-width: 500px) {
 
 
}